html {
  overflow-y: scroll;
}
#app {
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
	padding: 30px;
	width: 95%;
}


.stats span {
    transition: 1s all ease;
    opacity: 0;
}


.show-stats .stats span {
    opacity: 1;
}

.line {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.jopa {
	min-width: 50%;
	flex-grow: 1;
}
.pizda {
	width: 50%;
}

#app > div {
	display: flex;
	flex-wrap: wrap;

}

.icon {
    height: 32px;
}

.icon-20 {
    height: 20px;
}

@media (min-width: 1200px)
.container {
    max-width: 960px !important;
}

.findOutput {
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 50%);
    background: white;
    align-self: center;
}

#chars {
    display: flex;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 1;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    transition: 0.5s linear;
}

.closeChars {
    height: 32px;
    width: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login {
    text-align: center;
}

.charsTable {
    margin: auto;
    width: 100%;
    border: 2px solid white;
}

tbody {
    border-collapse: collapse;
}

td {
    white-space: nowrap;
    border-right: 1px solid #e5e5e5;
    text-align: center;
    width: 16.5%;
}

thead {
    border-bottom: 1px solid #e5e5e5;
}

#thx {
    position: absolute;
    opacity: 1;
    -webkit-animation: show-and-hide 2s forwards;
    animation: show-and-hide 2s forwards;
}

@-webkit-keyframes show-and-hide {
    0% {
        opacity: 1;
   }
    50% {
        opacity: 0.8;
   }
    100% {
        opacity: 0;
   }
}
@keyframes show-and-hide {
    0% {
        opacity: 1;
   }
    50% {
        opacity: 0.8;
   }
    100% {
        opacity: 0;
   }
}